<% if current_user.follow?(@task) %>
	<%= link_to '<span class="typcn typcn-eye"></span> Following'.html_safe, task_follow_path(@task), :method => 'put', :remote => true, :class => "btn btn-sm btn-following" %>
<% else %>
	<%= link_to '<span class="typcn typcn-eye-outline"></span> Follow'.html_safe, task_follow_path(@task), :method => 'put', :remote => true, :class => "btn btn-sm btn-follow" %>
<% end %>