
    <nav class="sidebar-links">
        <div class="sidebar-nav-group">
            <h6>General</h6>
            <ul class="nav sidenav">
                <li class="">
                    <a href="/account/settings">Account Settings</a>
                </li>
                <li class="">
                    <a href="/account/email">Change email address</a>
                </li>
                <li class="">
                    <a href="/account/services">Services</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-nav-group">
            <h6>Security</h6>
            <ul class="nav sidenav">
                <li class="">
                    <a href="/account/password">Change password</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-nav-group">
            <h6>Billing</h6>
            <ul class="nav sidenav">
                <li class="">
                    <a href="/account/billing">Billing details</a>
                </li>
            </ul>
        </div>
    </nav>