<% title "Change password" %>

<div class="row">

  <!-- left column -->
  <div class="col col-md-8" id="main-content">

	<h1>Change password</h1>

	<%= render 'passwords' %>

	<%= link_to 'Back', users_path %>

  </div>
  <!-- end: left col -->

  <div class="col col-md-4" id="sidebar">
  	<%= render 'sidebar/account' %>
  </div>
</div>
