$priority-lowest-color:  lighten($gray-light, 10%);
$priority-low-color: 	 lighten($gray-light, 5%);
$priority-normal-color:  $gray-light;
$priority-high-color: 	 darken($red, 10%);
$priority-highest-color: darken($red, 20%);


$border-color-base: #e9eaeb;

html, body {
  height:100%;
}

body {
  font-family:
  /* 1 */ -apple-system, BlinkMacSystemFont,
  /* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  /* 3 */ "Helvetica Neue", sans-serif;

  line-height: 1.35;
  background: #f5f7f9;
}

.container-wrapper {
  height: calc(100% - 60px - 45px);;

  > .row {
    height: 100%;
  }
}

.row {
}

.priority-lowest {
  @include badge-variant($priority-lowest-color);
}

.priority-low {
  @include badge-variant($priority-low-color);
}

.priority-normal {
  @include badge-variant($priority-normal-color);
}

.priority-high {
  @include badge-variant($priority-high-color);
}

.priority-highest {
  @include badge-variant($priority-highest-color);
}

.btn-follow {
  @include button-variant(#fff, $gray-light, $gray-light);
}

.btn-following {
  @include button-variant(#fff, $green, $green);
}

.alert {
  &.top-notification {
    margin-bottom: 0;
    border-radius: 0px;
    z-index: 3000;
    position: relative;
  }
}

.masthead {
  position: relative;
  z-index: 2000;
  border-bottom: solid 1px $border-color-base;
}

#main-content {
  // padding: 30px 15px 15px;
  // width: calc(70% - 5px);
  padding-top: 25px;
  background: #ffffff;
  height: 100%;
}

#sidebar {
  z-index: 1000;
  font-size: 12px;
  // overflow-y: scroll;
  // position: fixed;
  // right: 0;
  // top: 0;
  // height: 100%;
  // background: #f5f7f9;
  // padding: 3em 15px 60px 15px;
  border-left: 1px solid $border-color-base;
  padding-top: 25px;
  // width: calc(30% - 5px);

  pre {
    overflow: auto;
    overflow-y: hidden;
  }
}



.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('grips/vertical.png');
  cursor: ew-resize;
  position: fixed;
  width: 10px;
  height: 100%
}

.gutter.gutter-vertical {
  background-image: url('grips/horizontal.png');
  cursor: ns-resize;
}